In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Train.xlsx", sheet_name="Sheet1")

In [3]:
df = df.rename(columns={
    "Uniprot Accession": "Accession",
    "Position": "Site",
    "Sequence": "Sequence"
})

In [4]:
df = df.dropna(subset=["Accession", "Sequence", "Site"]).copy()
df["Site"] = df["Site"].astype(int)

In [5]:
agg = (
    df.groupby(["Accession", "Sequence"])["Site"]
      .apply(lambda s: sorted(set(int(x) for x in s)))
      .reset_index()
)

In [6]:
agg

,Accession,Sequence,Site
0,A0A0J9YUD5,MALGQSRAGSLVHTRSSLAWRSRRPWGRPCVQASTRAGPRARGPPR...,"[945, 1283, 1618, 1925, 1935]"
1,A0FGR8,MTANRDAALSSHRHPGCAQRPRTPTFASSSQRRSAFGFDDGNFPGL...,"[411, 553]"
2,A0JNU3,MARAMGPERRLLAIYTGGTIGMRSEGGVLVPGRGLAAVLKTLHMFH...,[354]
3,A1L0T0,METPAAAAPAGSLFPSFLLLACGTLVAALLGAAHRLGLFYQLLHKV...,"[227, 230, 284, 599]"
4,A1X283,MPPRRSIVEVKVLDVQKRRVPNKHYVYIIRVTWSSGSTEAIYRRYS...,[805]
...,...,...,...
2102,Q9Z160,MAAATASSALKRLDLRDPNALFETHGAEEIRGLERQVRAEIEHKKE...,[598]
2103,Q9Z1K5,MDSDEGYNYEFDEDEECSEEDSGAEEEEDDDEDEPDDDNLDLGEVE...,[458]
2104,Q9Z1T1,MSSNSFAYNEQSGGGEAAELGQEATSTISPSGAFGLFSSDWKKNED...,"[338, 593]"
2105,Q9Z204,MASNVTNKTDPRSMNSRVFIGNLNTLVVKKSDVEAIFSKYGKIVGC...,"[8, 157, 176]"
2106,Q9Z2M7,MATLCLFDMDGTLTAPRQKITEEMDGFLQKLRQKTKIGVVGGSDFE...,"[76, 145, 152, 206]"

In [7]:
fasta_lines = []
for _, row in agg.iterrows():
    seq = row["Sequence"]
    header = f">{row['Accession']}"       # 大于号后面Accession+位点
    fasta_lines.append(header)
    fasta_lines.append(seq)

# 保存到文件
with open("tain.fasta", "w") as f:
    f.write("\n".join(fasta_lines))